<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteRule ^public/uploads/thumbs/(.*)/(.*).([a-zA-Z0-9]{3,4})$ storage/framework/cache/ckfinder/thumbs/$1/$2.$3/$2__150x150.$4 [QSA,L]
    #RewriteRule ^public/uploads/(.*)/(.*).([a-zA-Z0-9]{3,4})$ t.php?a=$1&b=$2&c=$3 [QSA,L]
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
